<div class="group">
    <section>
        <div class="card">
            <div class="photo"></div>
            <h2>Ana Balan</h2>
            <p><b>RA:</b> 0050831811035</p>
            <p><b>Disciplinas cursadas: </b>2 <b>Cursando: </b>2</p>
            <a [routerLink]="['/historico']">Ver Histórico</a>
        </div>
        <div class="description">
            <h1>ANA BALAN</h1>
            <p>Desenvolvedora Front-end e Designer UX/UI. Busco trazer arte ao desenvolvimento. </p>
        </div>
    </section>
</div>
